
.swiper {
  justify-content: center;
  align-items: center;
    overflow: visible!important;
  }
  .swiper-slide-active{
    opacity: 1!important;
    -webkit-box-shadow: 4px 42px 0px -20px rgba(243,238,250,1);
    -moz-box-shadow: 4px 42px 0px -20px rgba(243,238,250,1);
    box-shadow: 4px 42px 0px -20px rgba(243,238,250,1);
  }
  .swiper-slide{
    opacity: 0;
  }
    .swiper-slide.swiper-slide-prev{
    transform:translate3d(-21.4587px, 0px, -306.553px) rotateX(0deg) rotateY(0deg) scale(0.486895)!important;
    opacity: 80%;
  }
  .swiper-slide.swiper-slide-next {
    transform:translate3d(21.5413px, 0px, -306.553px) rotateX(0deg) rotateY(0deg) scale(0.486895)!important;
    opacity: 80%;
  }

  @media screen and (max-width: 990px){
    .swiper-slide.swiper-slide-next, .swiper-slide.swiper-slide-prev{
        opacity: 0%!important;
    }
    .swiper-slide-active{
      opacity: 1!important;
    }
  }
  .swiper-button-prev, .swiper-button-next{
    width: 40px!important;
    height: 40px!important;
    padding: 0;
    background: white 0% 0% no-repeat padding-box!important;
    border-radius: 50%!important;
    box-shadow: 0px 0px 30px #FB006626!important;
    color: #FB0066!important;
    transition: .2s;
  }

  .swiper-button-prev{
    right: -10%!important;
  }
  .swiper-button-next{
    left: -10%!important;
  }

  .swiper-button-prev:hover, .swiper-button-next:hover{
    background-color: #FB0066!important;
    color: white!important;
  }

  .swiper-pagination-bullet-active{
    background-color: #FB0066!important;
  }

  

  .swiper-button-prev::after,.swiper-button-next::after{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px!important;

  }