.why-we-card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 40px #4C00A926;
    border-radius: 20px;
    z-index: 1;
    
}

.review-icon{
    background: transparent url('../images/Group\ 1560.png') 0% 0% no-repeat padding-box;
}

.why-we-card-overlay{
    position: absolute;
    background: transparent  url('../images/Path 2537.png') no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.review{
    background-color: #F9F6FC;
    border-radius: 10px;
    z-index: 1;
}

.review-photo{
    background-color: #4c00a915;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
@media screen and (max-width: 380px) {
    .review-stars-container{
        scale: .8;
    }
  }

.card-reviewer-name{
    font-size: .8rem;
    margin: 0 .5rem 0 0 ;
}
.card-text{
    text-align: center;
    margin: 10px 0;
}